{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.6.4",
        "modules": false
      },
      "@babel/preset-typescript",
      "@babel/preset-react"
    ]
  ],
  "exclude": "node_modules/**"
}
